body {
    background-color: #ffffff;
    font-family: "Times New Roman", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1%;
    left: 0;
    position: fixed;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9);
}

.header a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.header a:hover {
    text-decoration: underline;
}

.header .left-header {
    display: flex;
    gap: 30px;
}

.header .right-header {
    padding-right: 2%;
}

.logo {
    max-width: 60%;
    margin-top: -5%;
    margin-bottom: -5%;
}

.background-image {
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Make sure it stays behind other content */
}

#background-video{
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    z-index: -1; /* Make sure it stays behind other content */
}

.text-over-background {
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 55px;
    color: #ffffff;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-over-background .description-container {
    display: block;
    margin-top: 50px;
}

.text-over-background .description-container .short-description {
    column-count: 2;
    column-gap: 10px;
    column-rule-style: solid;
    column-rule-width: 1px;
    font-size: 22px;
    text-align: center;
}

.text-over-background .description-container .short-description .column-one,
.text-over-background .description-container .short-description .column-two {
    display: block;
}

.main-text {
    text-shadow: 2px 2px #c6c6c6;
}

.subtitle-container {
    display: flex;
    justify-content: center;
    gap: 250px;
    margin-top: 20px;
}

.subtitle {
    font-size: 22px;
    margin-top: 10px;
}

.subtitle a {
    color: #ffffff;
    text-decoration: none;
}

.women-items {
    float: left;
    text-align: left;
}

.men-items {
    float: right;
    text-align: right;
}
