.aboutUs {
    margin: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -10px;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer p {
    margin: 8px 0;
}

/* Base styling for the link and button */
.social-link {
    color: #fff;
    margin: 0 8px;
    transition: color 0.3s ease;
}

#instagram, #facebook, #twitter {
    color: #fff;
    margin: 0 8px;
    transition: color 0.3s ease;
    background-color: #333;
    border: none;
}

/* Change link text color on hover */
.social-link:hover {
    color: #007bff;
    text-decoration: none;
}

.social-link:hover #instagram i {
    color: #E1306C;
}

.social-link:hover #facebook i {
    color: #4267B2;
}

.social-link:hover #twitter i {
    color: #1DA1F2;
}

#instagram i, #facebook i, #twitter i {
    color: #fff; /* Initial icon color */
    transition: color 0.3s ease;
}

/* Ensuring that hovering over text or icon changes the text color */
.social-link:hover #instagram,
.social-link:hover #facebook,
.social-link:hover #twitter {
    color: #007bff;
}

#paragraph {
    flex: 1;
    margin: 8px;
    text-align: center;
}

.general-info {
    padding: 32px 0;
    background-color: #fff;
}

.top-images {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    margin: 8px;
    text-align: center;
}

.product-image {
    width: 400px;
    height: 300px; 
    object-fit: cover; /* Ensure the image covers the entire area without distortion */
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.product-image:hover {
    transform: scale(1.1); /* Scale the image by 10% on hover */
}

.description {
    margin-top: 16px;
    text-align: center;
}

.description h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 8px;
}

.description p {
    font-size: 16px;
    color: #666;
}


.column h2 {
    text-shadow: 2px 2px #dad9d9;
}

.description-container {
    display: block;
    margin-top: 50px;
}

.short-description {
    column-count: 2;
    column-gap: 10px;
    column-rule-style: solid;
    column-rule-width: 1px;
    font-size: 18px;
    text-align: center;
}

.short-description .column-one {
    display: block;
    margin-left: 30%;
}

.short-description .column-two {
    display: block;
    margin-right: 34%;
}