.background-image,
#background-video {
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    user-select: none;
}

#background-video {
    display: none;
}

.text-over-background {
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 3vw;
    color: #ffffff;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 20px;
}

.subtitle-container {
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin: 20px auto 0;
    gap: 15vw;
}

.subtitle {
    font-size: 1.5vw;
    margin-top: 10px;
}

.subtitle a {
    color: #ffffff;
    text-decoration: none;
}

.subtitle a:hover {
    text-decoration: none;
    color: inherit;
}


.women-items {
    float: left;
    text-align: left;   
}

.men-items {
    float: right;
    text-align: right;
}
