<!DOCTYPE html>
<html>

<head>
    <title>Style For You</title>
    <link href="index.css" rel="stylesheet">
    <link rel="stylesheet" href="../../shared/headers/user_guest.css" />
    <link rel="stylesheet" href="../../shared/headers/admin.css" />
    <link rel="icon" href="../../../assets/images/general/app-icon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="header"></div>
    <img id="background-image" src="../../../assets/images/general/homepage_background.png" alt="Background Image"
        class="background-image" draggable="false">
    <video id="background-video" autoplay muted>
        <source src="../../../assets/videos/homepage.mp4" type="video/mp4">
    </video>

    <div class="text-over-background">
        <div class="main-text"> Style For You </div>
        <div class="subtitle-container">
            <div class="subtitle women-items">
                <a href="../clothing/women.html" class="women-link">WOMEN</a>
            </div>
            <div class="subtitle men-items">
                <a href="../clothing/men.html" class="men-link">MEN</a>
            </div>
        </div>
    </div>

    <script src="../../shared/headers/header.js"></script>
    <script src="index.js"></script>
</body>

</html>
