<head>
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

</head>

<body>
    <header class="header">
        <a class="nav-logo" href="../html/index.html">
            <img src="../../../assets/images/general/official_logo_transparent.png" alt="Logo" class="logo" />
        </a>
        <div class="left-section">
            <nav class="nav-menu">
                <ul>
                    <li><a href="../../../html/women.html">Women</a></li>
                    <li><a href="../../../html/men.html">Men</a></li>
                    <li><a href="../../../html/info.html">Info</a></li>
                </ul>
            </nav>
        </div>
        <div class="right-section">
            <nav class="nav-icons">
                <ul>
                    <li class="nav-item dropdown">
                        <a href="#" class="dropdown-toggle" id="manageDropdown" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-tools"></i> Manage
                        </a>
                        <div class="dropdown-menu" aria-labelledby="manageDropdown">
                            <a class="dropdown-item" href="#"><i class="bi bi-box-seam"></i> Products</a>
                            <a class="dropdown-item" href="#"><i class="bi bi-people"></i> Users</a>
                            <a class="dropdown-item" href="#"><i class="bi bi-buildings"></i> Branches</a>
                        </div>
                    </li>
                    <li><a href="#"><i class="bi bi-person-fill"></i> Account</a></li>
                    <li><a href="#"><i class="bi bi-box-arrow-right"></i> Sign Out</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- jQuery and Bootstrap JS for dropdown functionality -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>