<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders History</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../shared/headers/user_guest.css" />
    <link rel="stylesheet" href="orders.css" />
</head>

<body>
    <div id="header"></div>
    <div class="container mt-5">
        <h2 class="mb-4">Orders History</h2>
        <form id="updateUserOrders" class="needs-validation" novalidate>
            <div class="mb-3">Order
                <div class="mb-3">
                    <label for="totalOrderPrice" class="form-label">Total Order Price:</label>
                    <span id="totalOrderPrice"></span>
                </div>
                <div class="mb-3">
                    <label for="itemAmount" class="form-label">Item Amount:</label>
                    <span id="itemAmount"></span>
                </div>
                <div class="mb-3">
                    <label for="totalItemPrice" class="form-label">Total Item Price:</label>
                    <span id="totalItemPrice"></span>
                </div>
                <div class="mb-3">
                    <label for="productName" class="form-label">Product Name:</label>
                    <span id="productName"></span>
                </div>
                <div class="mb-3">
                    <label for="productImagePath" class="form-label">Product Image:</label>
                    <img id="productImage" src="" alt="Product Image" class="img-fluid mt-2 productImage"/>
                </div>
            </div>
        </form>

        <!-- Placeholder for success or error messages -->
        <div id="responseMessage" class="mt-4"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="orders.js"></script>
    <script src="../../shared/headers/header.js"></script>
</body>

</html>
