* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.table-responsive {
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    text-align: left;
}

@media (max-width: 768px) {
    .table th, .table td {
        font-size: 14px;
        padding: 5px;
    }

    .button-container {
        bottom: 10px;
        right: 10px;
    }

    .search-product {
        margin-bottom: 15px;
    }
}

@media (max-width: 576px) {
    .table {
        font-size: 12px;
    }

    .popup-content {
        padding: 10px;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.page-number {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.page-number:hover {
    background-color: #0056b3;
}

#brandsByCategoryChart h4{
    text-align: center;
    margin: 0;
}

